:root {
  --main-title-color: #212121;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style-type: none;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

/* ----------------HEADER------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 94px;
}

.logo-right-header {
  color: #000000;
}

.header-list {
  display: flex;
}

.header-item {
  position: relative;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
}

.header-link,
.hover-focus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  display: block;
  padding: 32px 0;
}

.header-link:hover,
.header-link:focus,
.hover-focus:hover,
.hover-focus:focus {
  color: var(--accent-color);
}

.hover-focus:hover .header-icon,
.hover-focus:focus .header-icon {
  fill: var(--accent-color);
}

.active-link {
  color: var(--accent-color);
}

.active-link::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #2196f3;
  border: 2px solid;
  border-radius: 2px;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail {
  margin-right: 50px;
}

.hover-focus {
  color: var(--main-text-color);
  padding: 32px 0;
  display: flex;
  align-items: center;
}

/* ++++++++++++++++++INDEX.HTML++++++++++++++++++ */

/* ----------------HERO------------- */

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero > .container {
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------------FEATURES------------- */

.features > .container {
  display: flex;
}

.features-list {
  display: flex;
}

.features-item:not(last-child) {
  margin-right: 30px;
}

.features-item::before {
  content: '';
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features-icon-first::before {
  background-image: url(../images/features/group-first\ .svg);
}

.features-icon-second::before {
  background-image: url(../images/features/group-second\ .svg);
}

.features-icon-third::before {
  background-image: url(../images/features/group-third\ .svg);
}

.features-icon-fourth::before {
  background-image: url(../images/features/group-fourth.svg);
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------------DIRECTIONS------------- */

.directions {
  padding-top: 0;
}

.directions-list {
  display: flex;
}

.directions-title {
  margin-bottom: 50px;
}

.directions-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.directions-item {
  position: relative;
}

.directions-item:not(:last-child) {
  margin-right: 30px;
}

.directions-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  color: var(--secondary-text-color);
}

/* ----------------TEAM------------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-list > .team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.team-img-after {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-text,
.team-item-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item-title {
  font-weight: 500;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-item-social {
  width: 44px;
  height: 44px;
}

.team-item-social:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}

.team-social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------CLIENTS------------- */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin: auto;
}

.clients-item {
  width: 170px;
  height: 92px;
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* ----------------FOOTER------------- */

.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.logo-right-footer {
  color: #ffffff;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: 70px;
}

.footer-link-map {
  color: #ffffff;
  display: flex;
  margin-bottom: 9px;
}

.footer-link-mail {
  display: flex;
  margin-bottom: 9px;
}

.footer-link-mail,
.footer-link-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-sical-icon {
  fill: #ffffff;
}

.footer-right-form {
  margin-left: 93px;
}

.footer-form-title {
  display: flex;
  align-items: center;
}

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-input-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 16px;
}

.footer-input-mail:focus {
  border: 1px solid var(--accent-color);
}


.footer-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
  fill: var(--secondary-text-color);
  margin-left: 10px;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ++++++++++++++++++PORTFOLIO.HTML++++++++++++++++++ */

/* ----------------PORTFOLIO------------- */

.portfolio-list-btn {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-item-btn {
  display: flex;
}

.button-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;

  padding: 6px 22px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-btn:not(last-child) {
  margin-right: 8px;
}

.button-btn:hover,
.button-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list > .portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-after-img {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .portfolio-overlay-text, 
.portfolio-item-link:focus .portfolio-overlay-text {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);

  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ++++++++++++++++++BACKDROP++++++++++++++++++ */

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.btn-close {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .modal-icon-close,
.btn-close:focus .modal-icon-close {
  fill: var(--accent-color)
}

.modal-form {
  width: 448px;
  height: 342px;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-text {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-text-color)5;
  margin-bottom: 4px;
}

.icon-contact {
  position: absolute;
  left: 12px;
  bottom: 21px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within > .icon-contact {
  fill: var(--accent-color);
}

.modal-type {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-type:hover,
.modal-type:focus {
  border: 1px solid var(--accent-color);
}

.modal-input textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-form {
  margin-bottom: 30px;
} 

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.icon-vector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .policy > .icon-vector {
  background-color: var(--accent-color);
  border: transparent;
}

.policy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link:hover,
.policy-link:focus {
  color: #188ce8;
}

.modal-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188CE8;
}